.container{
    width: 68%;
    margin:auto;
    box-shadow: 0 0 4px black;
    padding: 15px;
}



.container h2{
    font-size: 1.2rem;
    font-weight: 600;
    color: #458377;
    margin-bottom: 20px;

}

.container p{
    font-size: 0.8rem;
}

.container textarea{
    height: 80px;
    width: 90%;
    outline: none;
    padding: 5px;
}

.container button{

background-color: #37A892;
color: white;
width: 100%;
padding-top: 10px;
padding-bottom: 10px;
outline: none;
border: none;
}