.outerContainer {
  background-color: #37a892;
}

.container {
  width: 80%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.navDiv ul {
  display: flex;
  list-style-type: none;
}

.navDiv li {
  margin-left: 3rem;
}

.logoutbtn{
  border: none;
  outline: none;
  background-color:transparent;
  color: white;
font-size: 1rem;}

.logoutbtn:hover{
  cursor: pointer;
  box-shadow: 0 0 4px black;
}
