.container {
  display: flex;
  width: 90%;
  margin: auto auto 50px auto;
  justify-content: space-between;
  position: relative;
  overflow-y: hidden;
  height: 140vh;
  padding-bottom: 30px;
}

.left {
  width: 60%;
  padding-top: 50px;
}

.searchDiv {
  width: 100%;
  margin: auto auto auto auto;
  padding-bottom: 50px;
  position: sticky;
}

.searchDiv input {
  width: 70%;
  height: 30px;
  outline: none;
  border: none;
  box-shadow: 0 4px 6px black;
  padding-left: 10px;
  margin-left: 20px;
}

.searchDiv button {
  background-color: #37a892;
  border: none;
  outline: none;
  color: white;
  padding: 9px 20px;
  margin-left: 20px;
}

.searchDiv button:hover {
  cursor: pointer;
}

.patientDetailsDiv {
  margin-left: 20px;
}

.patientDetailsDiv span {
  margin-right: 30px;
}

.showUploads {
  background-color: #37a892;
  border: none;
  outline: none;
  color: white;
  padding: 9px 20px;
}

.showUploads:hover {
  cursor: pointer;
}

.patientRecordDiv {
  width: 100%;
  margin: 0px auto 0 auto;
  position: relative;
  height: 90%;
  padding: 50px 20px 0 20px;
  scroll-behavior: smooth;
  overflow-y: auto;
}

.patientRecordDiv figure {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-70%, 0);
}

.patientRecordDiv img {
  height: 200px;
  width: 350px;
}

.right {
  padding-top: 50px;
  position: relative;
}

.uploadDiv {
  width: 74%;
  display: flex;
  margin: 0 auto 20px auto;
  justify-content: space-between;
  align-items: center;
}

.in::-webkit-file-upload-button {
  visibility: hidden;
  padding: 0;
  width: 0.1px;
}

.in::before {
  content: "Select a file";
  display: inline-block;
  width: 50%;
  border: 1px solid #37a892;
  border-radius: 3px;
  padding: 8px 6px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.in:hover::before {
  border-color: black;
}
.in:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.upload {
  padding: 10px;
  border: none;
  outline: none;
  background-color: #37a892;
  color: white;
}

.upload:hover {
  cursor: pointer;
}

.uploadTitleDiv {
  width: 74%;
  margin: 0 auto 10px auto;
}

.uploadTitleDiv h4 {
  margin-top: 0;
}

.uploadTitleDiv input {
  border: solid 1px #37a892;
  padding: 10px 5px;
  box-sizing: border-box;
  width: 100%;
  outline: none;
}
